.footer{
    height: 150px;
    text-align: center;
}
.footer-div{
    padding-top: 37px;
}
.footer-href{
    padding-right: 40px;
    text-decoration: none;
    font-family: cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #000000;
}
.footer-div-img{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.footer-line{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 13px;
    width: 60px;
    height: 0px;
    border: 1px solid #000000;
}