.block{
    padding-right: 71px;
}
.block-a{
    text-decoration: none;
}
.block:nth-child(3n){
    padding-right: 0;
}
.ourBest-div{
    width: 220px;
    height: 240px;
    background-color: rgba(255, 255, 255, 0.65);;
}
.ourBest-div-div{
    padding-top: 18px;
    display: flex;
    justify-content: center;
}
.ourBest-h3{
    padding-top: 10px;
    font-family: cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}
.ourBest-p{
    padding-right: 22px;
    display: flex;
    justify-content: flex-end;
    padding-top: 6px;
    font-family: cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}